<div class="container">
    <h2 class="text-center">About Us</h2>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <img src="/images/sign.jpg" alt="sign">
            <p class="text-center">Courtesy of Aleks Lazic</p>
        </div>

        <div class="col-sm-7">
            <br>
            <br>
            <br>
            <h4 class="text-center">Our Roots: </h4>
            <p class="text-center">In 1988, Vidan Lazic went and purchased Harczaks Sausages, a small polish meat company located in the northwest of Chicago. An immigrant with past work experience in Vienna sausage company in Austria, the next part seemed easy. Make good product and get it out there. Vidan made a good product that was in pretty high demand at the time, many businesses opted to purchase their polish sausage from Harczaks sausages and buisness was great for years. Around the mid 90s, his son Alekandar Lazic took over the buisness when he got sick to keep it afloat. Aleks continued to have a large role in the buisness even after Vidan recovered and buisness continued as usual. The 2008 Housing Crisis and Recession had a big impact on buisness as many of the big customers opted to close amid the recession. Around that time, Vidan got sick again. As he had no hopes of recovering this time, Aleks took over the buisness permanently.  </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7">
            <br>
            <br>
            <br>
            <br>
            <h4 class="text-center">Now: </h4>
            <p class="text-center">Ever since Aleks has taken over the buisness he has shifted from supplying other companies and focuses more on the wholesale and catering aspect of the buisness. With a much larger push in marketing and producing hot, ready to eat food. Adding Sasha and Aleksandra to the team has only broadened the potential reach of the buisness, allowing more people access to more authentic foods. In October 2021 Lazic Deli was hired to cater a wedding of about 500 people, the team seen in the picture on the right were all present preparing food from 9am to 1am. Since then, Harczaks has continued to expand into the world of catering and hot food. Feel free to call or <a href="/contact">contact us</a> for any catering inquiries! </p>
        </div>

        <div class="col-sm-5">
            <img src="/images/cater.jpg" alt="Our first big Catering event">
            <p class="text-center">Courtesy of Sasha. From left to right: Sasha, Simeon, Ruben, Aleks, Stefan</p>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4>Mission Statement:</h4>
            <p>We are committed to using only the finest cuts of meat and freshest natural spices available in the production of our products. Our meticulous attention to detail ensures that you can savor the difference between other good products and our superior products with every bite.</p>
        </div>
    </div>
</div>