
<div class="container">
    <h3 class="text-center">Welcome to the Chef Page!</h3>
    <p class="text-center">We at Harczaks Sausages/Lazic deli have a number of talented chefs to ensure your food is excellent, take a look at some of them here: </p>
    <br>
    <br>
    
    <div class="row">
        <div class="col-sm-4">
            <img src="images/sasha.jpg">
            <p class="text-center">Picture courtesy of Aleksandar Sojic himself as he is a personal friend.</p>
        </div>
        <div class="col-sm-8"> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


            <h4 class="text-center">Aleksandar Sojic</h4>
            <p class="text-center">
                Aleksandar Sojic a wondeful chef working not only here at Harczaks Sausage and Lazic Deli but at the Micheal Jordan Steakhouse on Michigan Ave. Sasha, as we call him, makes most of meals you may find when you come visit our store. From stuffed peppers to baked beans and stir fry, Sasha can make it all.
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h4 class="text-center">Aleksandar Lazic</h4>
            <p class="text-center">
                Aleksandar Lazic, the owner of Harczaks Sausages and Lazic Deli. He has been the owner for nearly a decade and is the head of all aspects of harczaks. He makes the sausage, cooks it, and prepares meals all seamlessly.
            </p>
        </div>

        <div class="col-sm-4">
            <img src="images/tata.jpg">
            <p class="text-center">Picture courtesy of Aleks Lazic, my father.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img src="images/me.jpg">
            <p class="text-center">Picture taken by Stefan Lazic at a catering event</p>
        </div>
        <div class="col-sm-8"> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h4 class="text-center">Stefan Lazic</h4>
            <p class="text-center">
                Stefan Lazic, the son of Aleks Lazic and an employee at Harczaks Sausages/Lazic Deli. Stefan can do many of the same things his father can from making sausage to running the storefront. If he's working theres a good chance he'll be making your food for you!
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h4 class="text-center">Aleksandra </h4>
            <p class="text-center">
                Aleksandra is our part time pastry chef. The torte cake listed in our menu is one of the many items she makes here at Harczaks Sausages. Stop by every Saturday for freshly baked goods from her!
            </p>
        </div>

        <div class="col-sm-4">
            <img src="images/aleksandra.jpg">
            <p class="text-center">Picture taken by Aleks Lazic, Aleksandra is pictured on the right.</p>
        </div>
    </div>

</div>