<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="images/spread.jpg" alt="Bunch of Meals">
            <p class="text-center">Courtesy of Todor, head of marketing</p>
        </div>
        <div class="col-sm-6 mt-5">
            <h1>Submit a Review!</h1>
            <p>Enter Your Name, Email, and Review Here:</p>
            <form class="review-form" action="/review" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="email" placeholder="Email">
                <input type = "text" name="review" class = "textArea" placeholder="Review Goes Here">
                <input type="submit" class="button" value="Enter">
            </form>
      </div>
    </div>
  </div>