<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-6">
            <img src="/images/soosh.jpg" alt="cat">
            <p>This is an image I took of my girlfriends cat Sushi</p>
        </div>
        <div class="col-sm-6 mt-6">
            <h1 class="text-center">Oops! Something went wrong, or the page you are looking for is not available</h1>

            <p class="text-center">Go to 
                <a href="/">Home!</a>
            </p>
        </div>
    </div>
</div>