<br>
<br>

<div class="container">
    <h3 class="text-center">Welcome to Harczaks Sausage/Lazic Deli!</h3>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6 text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            Thank you for visiting our website! Use the Navigation Bar at the top to go to all the related pages. We at Harczaks Sausages/Lazic Deli are proud to serve you. Try our famous Polish Sausage featured on Chicagos Best!! Not feeling meat? Try some of our delicious Cakes or Bureks. Want to place an order? Find us on UberEats, Doordash, Grubhub, and Chownow!
        </div>
        <div class="col-sm-6">
            <img src="/images/tray.jpg" alt="Tray">
            <p class="text-center">Courtesy of Todor, Head of Marketing</p>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <h5>Hours:</h5>
            <table>
                <tr>
                    <td id="days">Mon:</td> 
                    <td>9-6pm</td>                   
                </tr>
                <tr>
                    <td id="days">Tues:</td> 
                    <td>9-6pm</td>                   
                </tr>
                <tr>
                    <td id="days">Wed:</td> 
                    <td>9-6pm</td>                   
                </tr>
                <tr>
                    <td id="days">Thurs:</td> 
                    <td>9-6pm</td>                   
                </tr>        
                <tr>
                    <td id="days">Fri:</td> 
                    <td>9-6pm</td>                   
                </tr>
                <tr>
                    <td id="days">Sat:</td> 
                    <td>9-5pm</td>                   
                </tr> 
                <tr>
                    <td id="days">Sun:</td> 
                    <td>Closed</td>                   
                </tr>      
            </table>
        </div>
        <div class="col-sm-3">
            <h5 class="text-center">Contact Us!</h5>
            <p class="text-center">Call us at <a href="tel: 7736318400">(773) 631-8400</a></p>
            <p class="text-center">-OR-</p>
            <p class="text-center"><a href="/contact">Contact Us</a> Today!</p>
        </div>
        <div class="col-sm-3"></div>
    </div>
    
</div>