<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/images/theLocation.png" alt="Our location">
        </div>
    
        <div class="col-sm-6">
            <h3>Come Visit Us!</h3>
            <p>Want a hot lunch or some smoked meats for later?</p>
            <p>Come stop by our store! Located at 7035 W Higgins Ave in Chicago Illinois!</p>
            <p>We are open from 9am-6pm Mon-Fri and 9am-5pm on Saturdays!</p>
            <p>Want to order takeout or write a review? 
                <a href="/contact">Contact us today!</a>
            </p>
        </div>
    </div>
</div>