<div class="container">
    <div class="row">
        <h3 class="text-center">Menu</h3>
        <p class="text-center">Take a look at our menu! All prepared fresh by our talented chefs!</p>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <img src="/images/mixMeal.jpg" alt="Mixed Plate">
            <p class="text-center">Mixed Platter - 2 Aca Specials, 1 Snicle, 1 Chicken Breast, 4 Cevapi and 1/2 a Pljeskavice served with Fresh Onions, Fries and Kajmak- $18.99</p>
        </div>

        <div class="col-sm-4">
            <img src="/images/snicleMeal.jpg" alt="Snicle Meal">
            <p class="text-center">Snicle Meal - 2 Snicle on a fresh lepinja served with fries, fresh onions, and kajmak - $10.99</p>
        </div>

        <div class="col-sm-4">
            <img src="/images/acaSpecialMeal.jpg" alt="Aca Special Meal">
            <p class="text-center">Aca Special Meal - 5 Aca Specials on a fresh lepinja served with fries, fresh onions, yellow mustard, and kajmak - $13.99</p>
        </div>
    </div>

    <hr class="rounded">

    <div class="row">

        <div class="col-sm-4">
            <img src="/images/pljMeal.jpg" alt="Pljeskavice Meal">
            <p class="text-center">Pljeskavice Meal - 1 Pljeskavice(Serbian Burger Patty) on a fresh lepinja with tomato and lettice. Served with fries, fresh onions, and kajmak - $11.99</p>
        </div>

        <div class="col-sm-4">
            <img src="/images/cevapiMeal.jpg" alt="Cevapi Meal">
            <p class="text-center">Cevapi Meal - 10 Cevapi on a fresh lepinja served with fries, tomatoes, fresh onions, and kajmak - $13.99</p>
        </div>

        <div class="col-sm-4">
            <img src="/images/cake.jpg" alt="Cake">
            <p class="text-center">Slice of Torte Cake - $5.99</p>
        </div>
    </div>
</div>
<footer>All images courtesy of Harcaks Sausages, photographed by Todor, head of marketing.</footer>