<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <img src="/images/tray.jpg" alt="Tray">
            <p class="text-center">Courtesy of Todor, Head of Marketing</p>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div>
        <div class="col-sm-12 text-center">
            <h1>Thank You for your review!</h1>
            <p>Back to 
                <a href="/">Home!</a>
            </p>
        </div>
    </div>
</div>