<div class="container">
    <div class="row">
        <h3 class="text-center">Wholesale</h3>
        <p class="text-center">A few of the smoked meats we sell in our storefront. All of our meats are cooked on site!</p>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <img src="/images/bacon.jpg" alt="Smoked Bacon">
            <p class="text-center">Smoked Bacon - $11.99/lb</p>
        </div>

        <div class="col-sm-3">
            <img src="/images/imperialBacon.jpg" alt="Imperial Bacon">
            <p class="text-center">Snicle Meal - $12.99/lb</p>
        </div>

        <div class="col-sm-3">
            <img src="/images/smokedBeef.jpg" alt="Smoked Beef Prsutal">
            <p class="text-center">Smoked Beef Prsuta - $16.99/lb</p>
        </div>

        <div class="col-sm-3">
            <img src="/images/smokedChickenSausage.jpg" alt="Smoked Chicken Sausage">
            <p class="text-center">Smoked Chicken Sausage - $5.49/lb</p>
        </div>
    </div>

    <hr class="rounded">

    <div class="row">

        <div class="col-sm-3">
            <img src="/images/smokedRibs.jpg" alt="Smoked Ribs">
            <p class="text-center">Smoked Ribs - $9.99/lb</p>
        </div>

        <div class="col-sm-3">
            <img src="/images/sremskeMild.jpg" alt="Sremske Mild">
            <p class="text-center">Sremske - Mild - $11.99/lb</p>
        </div>

        <div class="col-sm-3">
            <img src="/images/sremskeHot.jpg" alt="Hot Sremske">
            <p class="text-center">Sremske - Hot - $11.99/lb</p>
        </div>

        <div class="col-sm-3">
            <img src="/images/smokedPorkShoulderButt.jpg" alt="Smoked Pork Shoulder Butt">
            <p class="text-center">Smoked Pork Shoulder Butt - $12.99/lb</p>
        </div>
    </div>
</div>
<footer>All images courtesy of Harcaks Sausages, photographed by Todor, head of marketing.</footer>